body{
    background-color: #f2f3f2;
   
}
.layui-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-form,
.edit-form{
    width: 450px;
    margin-top: 20px;
}